body {
  background-color: #1C2230;
  color: white;
  margin: 0 auto;
}
.container {
  background-image: url(/images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position-y: 825px;
  width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 70px;
}
header .navbar a {
  text-decoration: none;
  margin-right: 40px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
header .navbar img {
  width: 50%;
  height: 50%;
}
.top-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 700px;
  margin: 0 auto;
}
.top-content h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.top-content p {
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 300;
  width: 600px;
  margin: 0 auto;
}
.top-content .landing-btn {
  margin-top: 40px;
  padding: 18px 100px;
  font-size: 1rem;
  border-radius: 50px;
  background: #4EC3D3;
  border: none;
  color: white;
}
.features {
  width: 100%;
  margin-top: 180px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background: #181F2B;
  font-family: 'Open Sans', sans-serif;
}
.features .features-flex {
  width: 50%;
  text-align: center;
}
.features .features-flex p {
  width: 60%;
  text-align: center;
  margin-left: 140px;
  margin-bottom: 100px;
  font-weight: 300;
  font-size: 1rem;
}
