body {
  background-color: #1C2230;
  color: white;
  margin: 0 auto;
}
.container {
  background-image: url(/images/bg-curvy-desktop.svg);
  background-size: cover;
  width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 70px;
}
header .navbar a {
  text-decoration: none;
  margin-right: 40px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
header .navbar img {
  width: 50%;
  height: 50%;
}
